@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  line-height: 150%;
}

.title, .search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-age, .search-gender {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  padding: 10px;
}
.buttons-gender {
  padding-top: 10px;
}
#radio1, #radio2 {
  visibility: hidden;
}
label {
  cursor: pointer;
  background-color: rgb(175, 192, 238);
  padding: 4px;
  border-radius: 4px;
}
.search-gender input:checked + label {
  background-color: rgb(110, 156, 241);
  color: white;
}